app = "your-app-name"
primary_region = "iad"

[build]

[env]
  PORT = "8080"
  TARGET_URL_1 = "https://teamspring23.onrender.com/api/buyer/farmers/search"
  TARGET_URL_2 = "https://patternbackend.onrender.com/api/pattern"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
